/Share/Share_SP
/Share/Share_BR
/Share/Share_ADJ_SP
/SIB/Cancelamento
/SIB/CancelamentoBR
SIB_Inativos/Cancelamento
SIB_Inativos/CancelamentoBR
SIB_Inativos/sibInativos02.csv
SIB_Inativos/cancelamento0124.csv
/SIB/consolidado_2024_2025.csv
*.zip
